<!DOCTYPE html>
<html>
<head>
  <title>Gist Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="errors">
    <% flash[:errors].try(:each) do |error| %>
      <%= error %>
    <% end %>
  </div>
  <%= yield %>


  <div>
    <hr>
    <%= button_to "Logout", session_path, :method => "delete" %>
    <% if current_user %>
      Current User: <%= current_user.username %>
    <% end %>
    <!-- Session Token: <%= session[:session_token] %> -->
  </div>
</body>
</html>
